

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$black: #3F3F3F;
$white: #fff;
$gray: #eee;

$color-1: #99CE5B;
$color-2: #3A8CDD;
$color-3: #EFF2F4;
$color-4: #094E9B;



$box-shadow: 1px 1px 10px rgba(0,0,0,0.4);


.Work-Sans {font-family:'Work Sans'; }