
.page-contact {
  .contact-group {
    b {
      font-size: 1.3rem;
      font-weight: bold;
      display: block;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
    }

  }

  .form {
    margin-top: 5rem;
  }
}